{%extends 'base.html' %}
{%block head%}
<title>Search Page</title>
{% endblock %}
{%block body%}
<center>
    </br></br></br></br>
<h1>Flipkart</br> Review Web Scrapping</h1></cente></br></br>

<div class="container-fluid">
    <form  role="search" action="/review" method="POST">
      <input class="form-control me-2" type="search" name="content" id="content" placeholder="Search"  aria-label="Search">
        </br>
      <input class="btn btn-outline-success" type="submit">
    </form>
  </div>





{%endblock%}